:root {
    --dark: rgb(0, 0, 0);
    --dark_text_white: rgb(228, 228, 228);
    --green: rgb(166, 255, 166);
    --blue: rgb(0, 234, 255);
}

* {
    color: var(--dark_text_white);
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--dark);
    padding: 1rem;
}

a{
    text-decoration:none;
}

h1 {
    font-size: 3rem;
    color: var(--green);
    text-transform: uppercase;
}

/* header */
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -20px;
    margin-bottom: 25px;
  }

.header_name {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 100vw;
    margin: 0;
  }

header h1:hover {
    text-shadow: 0 0 20px var(--blue);
    color: var(--blue);
}
 
nav > ul > li {
    display: inline;
    padding: 10px;
}

nav {
    margin: 10px;
}

nav > ul > li:hover {
    text-shadow: 0px 0px 10px  var(--blue);
}

/* about */
.about_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50vw;
}

.about_left_content {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container_about_me {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.about_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

#me_image_right {
    width: 40vw;
    border-radius: 15px;
}

.about_right img {
    width: 40px;
    border-radius: 45px;
}

.social_links > ul > li {
    display: inline;
    padding: 5px
}

/* work */

.work_title {
    text-align: center;
}

.work_projects {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    width: min(95%, 70rem);
    margin-inline: auto;
    height: 75vh;
}

.project_1 {
    grid-column: span 3;
    display: flex;
    color: black;
    background: url('/assets/images/code_pic_1.jpeg') no-repeat top center;
    background-position: top;
    background-size: cover;
    border-radius: 15px;
    justify-content: center;
    font-size: 30px;
}

.project_2 {
    grid-column: span 1;
    display: flex;
    color: black;
    background: url('/assets/images/code_pic_2.jpg') no-repeat top center;
    background-position: top;
    background-size: cover;
    border-radius: 15px;
    justify-content: center;
    font-size: 30px;
}

.project_3 {
    grid-column: span 1;
    display: flex;
    color: black;
    background: url('/assets/images/code_pic_2.jpg') no-repeat top center;
    background-position: top;
    background-size: cover;
    border-radius: 15px;
    justify-content: center;
    font-size: 30px;
}

.project_4 {
    grid-column: span 1;
    display: flex;
    color: black;
    background: url('/assets/images/code_pic_2.jpg') no-repeat top center;
    background-position: top;
    background-size: cover;
    border-radius: 15px;
    justify-content: center;
    font-size: 30px;
}

/* media queries */

@media (max-width: 535px) {
    h1 {
        font-size: 2rem;
    }
    .about_left_content {
        font-size: .75rem;
    }
    nav > ul > li {
        font-size: .75rem;
    }
    .container_about_me {
        flex-direction: column;
    }
    #me_image_right {
        width: 90vw;
        border-radius: 15px;
    }
    .about_left {
        width: 90vw;
    }
}