:root {
    --dark: rgb(0, 0, 0);
    --dark_text_white: rgb(228, 228, 228);
    --green: rgb(166, 255, 166);
    --blue: rgb(0, 234, 255);
}

* {
    color: var(--dark_text_white);
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--dark);
    padding: 1rem;
}

a{
    text-decoration:none;
}

h1 {
    font-size: 3rem;
    color: var(--green);
    text-transform: uppercase;
}

/* header */
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -20px;
    margin-bottom: 25px;
  }

.header_name {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 100vw;
    margin: 0;
  }

header h1:hover {
    text-shadow: 0 0 20px var(--blue);
    color: var(--blue);
}
 
nav > ul > li {
    display: inline;
    padding: 10px;
}

nav {
    margin: 10px;
}

/* about */
.about_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50vw;
}

.about_left_content {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container_about_me {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.about_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

#me_image_right {
    width: 40vw;
    border-radius: 15px;
}

.about_right img {
    width: 40px;
    border-radius: 45px;
}

.social_links > ul > li {
    display: inline;
    padding: 5px
}

/* work */
.work_container {
    width: 100vw;
    height: 100vh;
}

.work_title {
    text-align: center;
}

/* place projects in a grid with project 1 being largest 
   and added hover features*/
.work_projects {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    width: min(95%, 70rem);
    margin-inline: auto;
    height: 75vh;
}

.project_1 {
    grid-column: span 3;
    display: flex;
    background: url('/assets/images/project_3_img.png') no-repeat top center;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    justify-content: center;
    font-size: 30px;
    transition: all 0.7s ease-in-out;
}

.project_1:hover {
    transform: scale(1.1);
}

#item_1 {
    color: var(--dark_text_white);
    background-color: var(--dark);
    height: fit-content;
    margin: 1rem;
    border-radius: 15px;
    padding: .5rem;
    font-weight: 300;
}

.project_2 {
    grid-column: span 1;
    display: flex;
    background: url('/assets/images/project_2_img.png') no-repeat top center;
    background-position: top;
    background-size: cover;
    border-radius: 15px;
    justify-content: center;
    font-size: 20px;
    transition: all 0.7s ease-in-out;
}

.project_2:hover {
    transform: scale(1.1);
}

#item_2 {
    color: var(--dark_text_white);
    background-color: var(--dark);
    height: fit-content;
    margin: 1rem;
    border-radius: 15px;
    padding: .5rem;
    font-weight: 300;
}

.project_3 {
    grid-column: span 1;
    display: flex;
    color: black;
    background: url('/assets/images/project_1_img.png') no-repeat top center;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    justify-content: center;
    font-size: 20px;
    transition: all 0.7s ease-in-out;
}

.project_3:hover {
    transform: scale(1.1);
}

#item_3 {
    color: var(--dark_text_white);
    background-color: var(--dark);
    height: fit-content;
    margin: 0.5rem;
    border-radius: 15px;
    padding: .4rem;
    font-weight: 300;
}

.project_4 {
    grid-column: span 1;
    display: flex;
    color: black;
    background: url('/assets/images/project_4_img.png') no-repeat top center;
    background-position: top;
    background-size: cover;
    border-radius: 15px;
    justify-content: center;
    font-size: 20px;
    transition: all 0.7s ease-in-out;
}

.project_4:hover {
    transform: scale(1.1);
}

#item_4 {
    color: var(--dark_text_white);
    background-color: var(--dark);
    height: fit-content;
    margin: 1rem;
    border-radius: 15px;
    padding: .5rem;
    font-weight: 300;
}

/* contact page */
.contact_me_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 90vh;
}

.contact_form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
}

.form_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    justify-content: center;
    padding: 2rem;
}

#name {
    display: flex;
    width: fit-content;
    color: var(--dark);
}

#email {
    display: flex;
    width: fit-content;
    color: var(--dark);
}

#message {
    display: flex;
    width: 50vw;
    height: 20vh;
    color: var(--dark);
}

.form_container button {
    display: block;
    width: fit-content;
    color: var(--dark);
}

/* footer */
footer p {
    text-align: center;
}

/* media queries */

@media (max-width: 535px) {
    h1 {
        font-size: 2rem;
    }
    .about_left_content {
        font-size: .75rem;
    }
    nav > ul > li {
        font-size: .75rem;
    }
    .container_about_me {
        flex-direction: column;
    }
    #me_image_right {
        width: 90vw;
        border-radius: 15px;
    }
    .about_left {
        width: 90vw;
    }
}